In [73]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix,accuracy_score,precision_score,recall_score

In [74]:
df=pd.read_csv("C:/Users/HP/Downloads/archive (1)/Social_Network_Ads.csv")
df["Gender"].replace({"Male":0,"Female":1}, inplace=True)
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510       0   19            19000          0
1    15810944       0   35            20000          0
2    15668575       1   26            43000          0
3    15603246       1   27            57000          0
4    15804002       0   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863       1   46            41000          1
396  15706071       0   51            23000          1
397  15654296       1   50            20000          1
398  15755018       0   36            33000          0
399  15594041       1   49            36000          1

[400 rows x 5 columns]

In [75]:
df.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [76]:
x=df[['User ID', 'Gender', 'Age', 'EstimatedSalary']]
y=df[['Purchased']]

In [77]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=29)

In [78]:
model = LogisticRegression()
model.fit(x_train,y_train)

C:\Users\HP\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LogisticRegression()

In [79]:
y_pred=model.predict(x_test)
y_pred

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0], dtype=int64)

In [80]:
model.score(x_train,y_train)

0.7833333333333333

In [81]:
model.score(x,y)

0.785

In [82]:
cm=confusion_matrix(y_test,y_pred)
cm

array([[64,  5],
       [16, 15]], dtype=int64)

In [83]:
tn, fp, fn, tp = confusion_matrix(y_test,y_pred).ravel()
print(tn,fp,fn,tp)

64 5 16 15

In [84]:
a=accuracy_score(y_test,y_pred)
a

0.79

In [85]:
e=1-a
e

0.20999999999999996

In [86]:
precision_score(y_test,y_pred)

0.75

In [87]:
recall_score(y_test,y_pred)

0.4838709677419355

In [89]:
from sklearn.metrics import classification_report
class_report=classification_report(y_test,y_pred)
print(class_report)

              precision    recall  f1-score   support

           0       0.80      0.93      0.86        69
           1       0.75      0.48      0.59        31

    accuracy                           0.79       100
   macro avg       0.78      0.71      0.72       100
weighted avg       0.78      0.79      0.78       100